<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>
        <title>SCAN TOTP</title>
    </head>

    <body th:object="${TOTPSecret}">
        <input type="hidden" th:value="${TOTPSecret.secret}" id="qrdatacode" />
        <h1>Please scan this totp with your mobile. (Using Google authenticator or similar.)</h1>
        <div id="canvas"></div>
        <script type="text/javascript">
            var qrcodedata = document.getElementById("qrdatacode").value;
            var qrUrl = "otpauth://totp/Demo?secret=" + qrcodedata + "&issuer=OpenSecurity"
            const qrCode = new QRCodeStyling({
                width: 300,
                height: 300,
                data: qrUrl,
                dotsOptions: {
                    color: "#1fec71",
                    type: "square"
                },
                backgroundOptions: {
                    color: "#FFFFFF",
                }
            });
            qrCode.append(document.getElementById("canvas"));
        </script>
        <script type="text/javascript">

        </script>
    </body>
</html>